<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>형사소송절차에서의 화해 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"가해자와 합의해 화해하고 보상받을 수는 없을까요?"</h2>
        <p>피해자와 가해자가 만나 합의한 사항을 법원에 제출하면 됩니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/shield.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>형사소송절차에서의 화해 제도</h4>
                <p>형사사건의 가해자와 피해자가 사건 피해 보상에 합의한 경우, 공동으로 공판조서에 기재할 수 있도록 하여 재판상 화해와 같은 효력을 갖고, 피해자는 가해자로부터 보상을 받는 제도입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>피해자와 피고인 사이에 합의가 성립되어야 하며, 합의 사항에는 해당 형사사건과 관련된 피해에 관한 다툼을 포함해야 합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>합의의 내용이 당해 형사사건의 공판조서에 기재된 경우,
                    재판상 화해와 같은 효력이 생겨 이를 기초로 강제집행이 가능합니다.
                    ※재판상 화해는 확정판결과 같은 효력이 있음.</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
