<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>범죄피해자 의견진술 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"범죄피해나 가해자의 처벌에 대한 의견을 내고 싶어요."</h2>
        <p>범죄피해자는 심문절차에 참여할 수 있고 법원에 증인으로 출석해 의견을 진술할 수 있습니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>범죄피해자 의견진술 제도</h4>
                <p>형사피해자가 법률에 따라 재판에서 직접 범죄피해 정도 및 결과, 가해자 처벌에 대한 의견 등을 진술할 수 있는 제도입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/2.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 내용 및 절차</h4>
                <p>구속 전 심문절차 참여 및 진술
                    피해자는 판사의 허가를 받아 가해자에 대한 구속 전 심문절차에 참여하여 방청할 수 있고, 필요하다고 인정되는 경우 범죄피해에 대한 의견을 진술할 수 있습니다.</p>
                <p>기소(공소제기) 후 재판절차 진술
                    피해자 또는 그 법정대리인(피해자가 사망한 경우에는 배우자·직계 친족·형제자매를 포함)은 재판절차에서 피해 정도 및 결과,
                    피고인 처벌 및 그 밖에 당해 사건에 관한 의견 진술을 신청할 수 있습니다.
                    이 경우, ①피해자는 법원에 증인으로 출석하여 증인신문과정에서 의견을 진술하거나, ②재판절차에 출석하여 증인신문에 의하지
                    아니하고 범죄사실의 인정에 해당하지 않는 사항에 관하여 의견을 진술할 수 있습니다.</p>
                <p>범죄피해 양형자료보고서
                    범죄피해 양형자료보고서 제도는, ①살인, 중상해, 강도, 지속적·장기적인 피해발생범죄(가정폭력, 데이트폭력 등), 검사가 범죄피해 양형자료 보고서 작성이 필요하다고 인정하는 사건을 대상으로, ②피해의견진술서, 범죄피해 관련 자료 등 신체적·심리적·경제적·사회적 피해 상황을 종합적으로 수집하여 수사 및 양형에 반영하고, one-stop 절차에 따라 범죄피해 회복을 지원해 주는 제도입니다.</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
