<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배상명령 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"피해에 대해 가해자로부터 배상을 받고 싶어요."</h2>
        <p>배상명령 제도를 활용하면 치료비, 위자료 등을 간편하게 보상받을 수 있습니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>배상명령 제도</h4>
                <p>법원이 형사사건 또는 가정보호사건 재판에서 유죄판결을 선고 할 경우, 피해자의 신청이 있을 경우 가해자에게 범행으로 인해 발생한 직접적인 물적 피해, 치료비, 위자료의 배상을 명령하는 제도입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/2.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>형사공판 절차가 계속 중인 형사사건 또는 가정폭력범죄로 인한 보호처분 대상인 가정보호사건의 직접적인 피해자 또는 그 상속인은 배상명령을 신청할 수 있습니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/3.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>배상명령 신청이 인정되면 가해자에게 손해배상 청구가 가능합니다.
                    형사사건 : 범죄로 인한 직접적인 물적 피해, 치료비, 위자료
                    가정보호사건 : 가정폭력범죄로 인한 직접적인 물적 피해, 치료비 및 부양료</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
