<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가명조서</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"범죄 신고나 진술 후 보복위험에 빠질까봐 망설여져요."</h2>
        <p>조서 작성 시 신고자의 신원을 자세히 적지 않아도 됩니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/shield.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>가명조서 제도</h4>
                <p>경찰이나 검사가 조서·진술서 및 그 밖의 서류를 작성할 때 범죄신고를 한 사람의 성명·연령·주소·직업 등 신원을 알 수 있는 사항의 전부 또는 일부를 적지 않음으로써 신변을 보호해 주는 제도입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>범죄신고·진정·고소·고발 등 수사 단서 제공, 진술 또는 증언이나 그 밖의 자료 제출, 범인검거를 위한 제보 또는 검거활동과 관련하여
                    조서·진술서 및 그 밖의 서류를 작성할 때 범죄 신고자나 그 친족 등이 보복을 당할 우려가 있는 경우</p>
                <p>성폭력범죄 피해자 및 신고자, 공익신고자와 그 가족이 조서·진술서 및 그 밖의 서류를 작성할 때 보복을 당할 우려가 있는 경우</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>신청 방법</h4>
                <p>신고나 피해사실을 수사기관에서 진술하는 경우, 검사 또는 사법경찰관에게 가명조서 등으로 작성해 줄 것을 신청할 수 있습니다.</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
