<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인인거시야요</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-auto ml-3">
                <img src="{% static 'img/Djelogo.png' %}" width="64px" height="64px" alt="대전광역시 로고">
            </div>
            <div class="col">
                <p class="mb-0">대전광역시 범죄 피해자 통합 지원 플랫폼</p>
            </div>
        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="border p-3 text-center" style="min-height: 500px;">
                        <p>심리</p>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}psy-1">신뢰관계 있는 자의 동석 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}psy-2">진술조력인 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}psy-3">스마일센터를 통한 피해자 지원 제도</a></li>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border p-3 text-center" style="min-height: 500px;">
                        <p>경제</p>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-1">이전비 지원 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-2">피해자 국선변호사 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-3">범죄피해구조금 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-4">주거지원 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-5">경제적 지원 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-6">대한법률구조공단</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-7">대한변협 법률구조재단</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-8">한국가정법률상담소</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}eco-9">대한가정법률복지상담원</a></li>
                            
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border p-3 text-center" style="min-height: 500px;">
                        <p>법률</p>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}law-1">신변보호조치</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}law-2">가명조서</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}law-3">피해자 보호시설</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}law-4">범죄피해자 의견진술 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}law-5">배상명령 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}law-6">형사소송절차에서의 화해 제도</a></li>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border p-3 text-center" style="min-height: 500px;">
                        <p>통합</p>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}int-1">임시안전숙소</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}int-2">스마트워치</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}int-3">범죄피해자에 대한 통지 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}int-4">형사사법포털과 모바일 앱을 통한 정보제공 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}int-5">범죄피해자지원센터를 통한 피해자 지원 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}int-6">형사조정 제도</a></li>
                            <li class="list-group-item"><a href="{{ request.build_absolute_uri }}int-7">법률홈닥터 제도</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
