<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주거지원 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"범죄피해로 기존 집에서 살기가 힘들어졌어요."</h2>
        <p>국민임대주택(우선공급), 매입임대주택 또는 전세임대주택을 저렴하게 임대해 줍니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>주거 지원 내용</h4>  
                <p>범죄피해자에 대해 주거환경 개선 및 자활의 기반을 마련할 수 있도록 국민임대주택(우선공급), 매입임대주택 또는 전세임대주택을 저렴하게 임대하는 제도입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/2.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>범죄로 인해 전치 5주 이상의 상해를 입은 경우에 해당되며, 다만 살인·강도·방화·강간·친족간성폭력·약취와유인·체포와감금·아동학대·아동청소년성보호·성폭력특례·특가(보복범죄), 디지털성범죄에 관한 죄의 피해자는 상해 정도와 무관하게 지원대상이 될 수 있습니다. 아울러 범죄피해로 인해 기존 주거에서 생활이 부적절하고, 피해자에게 범죄피해에 대한 책임이 없어야 하며, 주거 지원의 이익이 가해자에게 돌아가 우려가 없어야 합니다. 이와 함께 국토교통부가 정한 소정의 요건(아래 표 참고)을 충족하면 주거 지원을 받을 수 있습니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/3.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>지원 절차</h4>
                <p>국민임대주택 : 신청 -> 심사 및 확인증 발급 -> 청약 신청 -> 당첨자 결정</p>
                <p>매입임대주택 또는 전세임대주택 : 신청 -> 심사 및 확인증 발급 -> 주거 지원 추천 -> 입주자격 확인 및 최종 선정</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/4.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>신청 방법</h4>
                <p>이후 추가</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
