<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이전비 지원 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"가해자를 피해 이사할 수밖에 없다고요?"</h2>
        <p>범죄피해로 이사할 경우 이사비를 지원해 드립니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>신이전비(이사실비) 지원 제도</h4>  
                <p>범죄피해자가 수사 또는 재판 과정에서 가해자로부터 해를 입었거나 입을 우려가 있는 경우에 신변보호조치를 해 주는 제도입니다. 수사기관이 구체적인 피해 사실 등을 토대로 위험성 유무를 판단해 지원해 줍니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/2.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상자 및 지원 요건</h4>
                <p>살인, 강도, 강간 등의 특정범죄신고자 등 보복당할 우려가 큰 범죄 피해자나 성폭력/가정폭력/학교폭력/아동학대 범죄 및 기타 이에 준하는 중대범죄의 신고자, 증인, 그 친족 등이 해당됩니다.</p>
                <p>생명 또는 신체에 대한 위해나 재산 등에 대한 피해를 입거나 입을 우려가 큰 경우에 지원합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/3.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>지원 방법</h4>
                <p>원칙적으로 이사 후 이사에 들어간 비용을 청구합니다(실비 지급). 이사하기 전에 이사 비용을 청구하는 경우에는 견적서를 첨부해 청구하되 이사 후 영수증을 제출하여 정산하게 됩니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/4.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>신청 방법</h4>
                <p>이후 추가</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
