<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대한법률구조공단</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"생활이 어려운데 법률적 지원을 해 주는 곳이 있나요?"</h2>
        <p>‘대한법률구조공단’에서 법률상담과 무료 소송대리 등 법률서비스를 지원해 줍니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/shield.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>대한법률구조공단</h4>  
                <p>경제적으로 어렵거나 법을 잘 몰라 법의 보호를 충분히 받지못하는 국민을 돕기 위해 설립된 법률복지기관입니다.
                    대한법률구조공단에서는 법률상담과 무료 소송대리 등의 법률서비스를 지원합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>보건복지부장관이 고시하는 기준 중위 소득의 125% 이하인 국민 또는 국내 거주 외국인 범죄피해자는 무료로 소송대리 등의 법률서비스를 지원받을 수 있습니다.
                    단, 대물피해만 발생한 교통사고는 지원 대상에서 제외됩니다.
                </p>
                <p>※구체적인 지원 대상 및 지원 요건은 공단 홈페이지(www.klac.or.kr) 참조</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/price.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>무료 법률상담, 소송서류 무료 작성, 민·가사 사건에 대한 소송대리, 형사사건에 대한 무료 변호 등 다양한 법률서비스를 지원합니다.
                    법률상담은 사전 예약하여 공단 사무소를 방문하거나, 전화(국번없이 132) 또는 공단 홈페이지(www.klac.or.kr)를 통해 가능합니다.
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/price.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>신청 방법</h4>
                <p>이후 추가</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
