<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대한변협 법률구조재단</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"법률지식도 없고 금전적 여유도 없는데 소송을 도움 받을 곳이 있나요?"</h2>
        <p>‘대한변협 법률구조재단’에서는 무료 소송대리를 지원하고 있습니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/shield.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>대한변협 법률구조재단</h4>  
                <p>경제적으로 어렵거나 법을 잘 몰라 법의 보호를 충분히 받지 못하는 국민을 돕기 위해 설립된 법률복지기관입니다.
                    대한변협 법률구조재단에서는 무료 소송대리 등의 법률서비스를 지원합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>국민기초생활보장법이 정한 보호대상자 등 소송비용을 지출함으로써 생계가 곤란하게 될 자
                    한부모가정
                    성폭력피해자 및 가정폭력피해자
                    다문화가정 및 이주외국인
                    국제법상 난민
                    북한이탈주민
                    기타 재단이 구조함이 상당하다고 인정한 자
                    대한변호사협회, 국가인권위원회가 특별히 구조를 필요로 한다고 인정한 자
                    위에 해당하는 취약계층을 대상으로 법률구조를 지원합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/price.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>법률구조
                    재단 수행변호사단은 전국에 총 1,250여명의 변호사로 구성되어 있으며, 이에 따라 전국 어디서나 민・형사 뿐만 아니라 가사, 행정,
                    헌법소원 등 국가를 상대로한 소송 등 다양한 소송에 대한 법률구조서비스 이용이 가능합니다.
                    ※구체적인 지원 대상 및 지원 요건과 법률구조신청 방법 등은 재단 홈페이지(www.legalaid.or.kr) 참조</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/price.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>신청 방법</h4>
                <p>이후 추가</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
