<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한국가정법률상담소</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"법을 잘 몰라 피해가 더 클 것 같아요. 도와주세요!"</h2>
        <p>'한국가정법률상담소' 에서는 법률상담과 무료 소송대리를 해 줍니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>한국가정법률상담소</h4>  
                <p>경제적으로 어렵거나 법을 잘 몰라 법의 보호를 충분히 받지 못하는 국민을 돕기 위해 설립된 법률구조기관입니다.
                    한국가정법률상담소에서는 법률상담, 화해조정과 대서 및 무료 소송대리 등의 법률구조서비스를 지원합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/2.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상자 및 지원 요건</h4>
                <p>가정폭력피해여성, 한부모가정, 다문화가정, 저소득가정 등 취약계층을 대상으로 법률서비스를 지원합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/3.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>법률상담
                    면접상담, 전화상담(1644-7077), 인터넷상담(상담소 홈페이지 www.lawhome.or.kr), 그 외 다문화가정을 위한 영어상담,
                    피해자 쉼터 순회상담, 서울가정법원 종합민원실 출장상담 등 실시
                    화해조정과 소장 등 소송서류 무료 지원
                    소송구조
                    상담소 소속 변호사와 자원봉사 변호사들로 구성된 ‘백인 변호사단’ 가입 변호사들이 수행
                    상담소 부설 가정폭력상담소 운영
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/4.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>신청 방법</h4>
                <p>이후 추가</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
