<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>경제적 지원 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"범죄로 인해 가족이 사망하거나 중상해를 입어 살길이 막막해졌어요."</h2>
        <p>국가에서 치료비, 심리치료비, 생계비·학자금·장례비 등을 지원해 줍니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>경제적 지원 제도</h4>  
                <p>범죄로 인해 신체적·정신적 피해를 입은 피해자에게 국가가 치료비, 심리치료비, 생계비, 학자금, 장례비 등을 지급하는 제도입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/2.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상</h4>
                <p>살인·강도·강간·폭행·방화 등 강력범죄로 인해 신체적 또는 정신적 피해를 입은 범죄피해자에 대해 지원합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/3.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>지원 요건</h4>
                <p>경제적 지원을 받기 위해서는 피해자에게 피해 발생에 대한 중대한 책임이 없어야 하고, 우리나라 안에서 발생한 범죄일 경우에 해당되며, 가해자로부터 피해의 전부 또는 일부를 배상받지 못한 경우 지원받을 수 있습니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/4.png' %}" class="img-fluid" alt="지원 방법">
            </div>
            <div class="col-9">
                <h4>신청 기간</h4>
                <p>범죄피해를 안 날로부터 3년, 발생일로부터 10년 이내</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
