<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>범죄피해자지원센터를 통한 피해자 지원 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"범죄피해자 지원에 대해 한번에, 알기쉽게 지원받고 싶어요!"</h2>
        <p>범죄피해자지원센터에서는 피해자분들의 필요에 맞는 종합적인 정보제공과 지원안내를 해드립니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/shield.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>범죄피해자지원센터를 통한 피해자 지원 제도</h4>
                <p>‘범죄피해자지원센터’는 범죄피해자가 조속히 고통에서 벗어나 정상적인 생활을 할 수 있도록 보호·지원하는 것을 목적으로 설립된 비영리민간단체입니다.
                    전국범죄피해자지원연합회와 60개 범죄피해자지원센터가 설립·운영 중에 있으며, 상담, 5주미만 상해피해자 치료비 지원, 간병비 및 취업지원비 지원, 수사기관·법정 동행 등 다양한 지원 활동을 하고 있습니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>살인, 강도, 방화, 성폭행, 상해 등 강력범죄로 인하여 신체적, 정신적 피해를 입은 피해자와 가족.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 절차</h4>
                <p>범죄피해자 긴급구호전화(1577-1295)로 연락하면 해당 지역에서 가장 근접한 센터로 연결되며, 전화나 방문상담을 통해 필요한 정보와
                    지원 제도를 안내해 드립니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>긴급구호 : 범죄피해자지원센터 상근직원 또는 자원봉사자가 범죄현장에서 상담, 피해자 보호, 병원후송, 가족 등 보호자 연락, 범죄현장정리(청소) 등 피해 초기에 신속한 긴급구호 실시
                    <br>신변보호 : 보복범죄 대비 위치확인장치 지급, 법정동행 및 수사기관 동행, 임시 주거시설 연계
                    <br>주거지원 : 임대주택 연계 지원
                    <br>치료비 : 범죄피해로 인해 지출한 신체적·정신적 치료 관련 의료비 지원
                    <br>심리치료비 : 피해자가 임상심리상담사 등 전문가로부터 심리상담 서비스를 이용하여 발생한 실비 지원
                    <br>간병비 : 피해자가 입원 치료를 받는 동안 간병할 가족이 없거나 생계 등의 사유로 가족이 간병하기 어려운 경우, 간병 비용 지원
                    <br>기타 부대 비용 : 의료보조기구가 필요하거나, 원거리 치료 시설 이용이 필요하여 교통비, 숙박비, 식비를 지출한 경우 비용 지원
                    <br>돌봄 비용 지원 : 범죄피해로 인해 만 12세 이하 아동가정의 양육공백이 발생하지 않도록 본인부담금 실비 지원
                    <br>생계비 : 달리 부양을 제공할 친족 등이 없는 피해자가 생계비, 학자금, 장례비 지원을 필요로 하는 경우 비용 지원
                    <br>현장정리비 : 피해자가 주거·관리하는 정주 가능한 건조물이 범죄피해로 오염·훼손되어 이를 정리할 필요가 있는 경우 실비 지원
                    <br>취업지원비 : 피해자 본인이 신체·정신 피해를 입은 후 구직하고자 하거나, 가족 등 기타 범죄피해자가 새롭게 생계를 떠맡게 되어 구직하여야 할 때 그 훈련비 및 부대 비용 지원
                    <br>기타 : 범죄피해자 상담(심리, 법률상담) 및 정보제공(피해자 구조 제도 안내 등). 법정 모니터링</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
