<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>진술조력인 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"어리거나 장애가 있어 진술하는데 어려움이 있다고요?"</h2>
        <p>성폭력과 아동학대 피해자가 의사소통에 어려움이 있는 경우 진술조력인이 도와줍니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/shield.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>진술조력인 제도</h4>
                <p>진술조력인 제도는 수사나 재판 과정이 피해자의 눈높이에 맞게 진행될 수 있도록 도와, 성폭력 및 아동학대 사건의 진실을 밝혀내고
                    피해자에 대한 2차 피해를 방지하는 제도입니다.</p>
                <p>‘진술조력인’은 성폭력, 아동학대범죄 또는 인신매매 등 범죄 피해를 입은 아동과 범죄 피해를 입은 장애인이 경찰이나 검찰에서 조사를 받거나 법정에서 증언을 할 때 의사소통을 도와주는 전문가입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상</h4>
                <p>성폭력범죄 피해자, 아동학대범죄 피해자, 참고인, 증인 중 13세 미만의 아동 또는 범죄 피해자인 장애인 중 의사소통이나 의사표현에 어려움이 있는 경우 무료로 진술조력인의 도움을 받을 수 있습니다.
                    <br>※ 장애인복지법이 개정되어 모든 범죄사건의 피해자인 장애인까지 지원하고 있습니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 절차</h4>
                <p>피해자, 그 법정대리인 또는 변호사가 경찰서, 검찰청 등 수사기관이나 법원에 구두 또는 서면으로 진술조력인 선정을 신청합니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상</h4>
                <div class="container mt-5">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-info text-white text-center">
                                <th>진술조력인 선정</th>
                                <th>피해자 사전평가</th>
                                <th>조사 또는 증언방법 논의</th>
                                <th>피해자 진술조사</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>수사기관 또는 법원에 구두나 서면으로 진술조력인 선정을 요청하면 진술조력인을 선정하게 됩니다. 피해자의 특성, 심리상태, 장애 등을 미리 알려 주면 피해자에게 보다 더 적합한 전문성을 갖춘 진술조력인을 선정하는 데 참고할 수 있습니다.</td>
                                <td>진술조력인은 조사 또는 증언 전 피해자와 면담을 거쳐 피해자의 심리상태, 의사소통 능력을 파악합니다.</td>
                                <td>수사기관 또는 법원에 피해자의 심리상태, 의사소통능력 등에 대해 전달하여 피해자의 현 상태와 수준에 맞는 맞춤형 질문이 이루어질 수 있도록 합니다.</td>
                                <td>진술조력인은 조사 또는 증언 시 피해자의 옆에서 피해자가 심리적으로 안정감을 가지고 편하게 진술할 수 있도록 도와줍니다. 피해자가 질문 내용을 이해하지 못하거나 진술하는데 어려움이 있을 경우에는 피해자가 쉽게 질문을 이해하고 수월하게 진술할 수 있도록 진술조력인이 옆에서 의사소통을 중개보조해 줍니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
