<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스마일센터를 통한 피해자 지원 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"범죄피해로 정신적 충격이 너무 커서 일상생활이 어려워요!"</h2>
        <p>스마일센터에서 상담과 심리치유를 해 주고 임시 거처도 제공해 줍니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/1.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>스마일센터를 통한 피해자 지원 제도</h4>
                <p>불의의 범죄피해를 당한 경우, 대부분의 피해자들은 상당한 정도의 심리적 고통을 겪습니다.
                    <br>‘스마일센터’는 범죄피해자를 대상으로 상담, 심리치유프로그램 실시 및 임시 거처를 제공함으로써 일상생활 복귀를 지원하는 범죄피해 트라우마 통합 지원 기관입니다.
                    <br>※법무부에서 범죄피해자지원법인 등 민간법인에 위탁하여 운영</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/2.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상자 및 지원 요건</h4>
                <p>살인·강도·폭력·성폭력·방화 등 강력범죄로 인하여 정신적 충격을 받고 일상적인 생활이 어려운 피해자와 가족이 이용할 수 있으며,
                    모든 서비스는 무료로 제공하고 있습니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/3.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>심리적 후유증에 대해 심리치료, 법률상담 등을 One-Stop 제공</p>
                <p>심리치유 서비스 제공
                    <br>심리상담, 진단평가, 심리치료, 기타 심신단련 프로그램 운영 등 전문적인 심리서비스 제공을 통해 피해자들이 느끼는 정신적 고통을 완화시킴으로써 신속한 사회복귀와 일상 회복을 지원(필요시 외부 정신과병원 진료 연계)</p>
                <p>단기 임시 주거시설 제공
                    <br>임시 주거시설을 갖추고 있어 주거지에서 생활이 곤란한 범죄피해자와 가족들의 임시 주거 가능
                    <br>범죄 장소에서 벗어나 심리적 안정을 취하거나, 범죄 현장정리를 위해 필요한 임시 주거시설 제공(남 · 여 · 가족생활관 운영)</p>
                <p>법률 및 사회지원
                    <br>수사·재판 과정에서 필요한 서류 제출 및 법률상담, 재판모니터링, 사회 적응을 위한 사례관리</p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
