<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신뢰관계 있는 자의 동석 제도</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center my-5">
        <h2>"가사건 진술 생각만 해도 두렵고 불안해서 하기 싫어요"</h2>
        <p>진술 시 가족 등 믿을 만한 사람과 함께 가서 할 수 있습니다.</p>
    </div>

    <div class="container my-5">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/shield.png' %}" class="img-fluid" alt="신변보호조치">
            </div>
            <div class="col-9">
                <h4>신뢰관계 있는 자의 동석 제도</h4>
                <p>범죄피해자는 사건을 겪은 충격이 큰 데다 그 사건에 대해 진술을 해야 하는 부담을 안고 있습니다. 생각하기도 힘든 사건을 다시 기억해 이야기해야 하고, 자칫 말을 잘못하여 스스로 어려움에 빠질까 두려워할 수 있습니다.</p>
                <p>‘신뢰관계 있는 자의 동석 제도’란 이런 두려움을 가진 피해자가 수사기관에서 진술하거나 법정에서 증언할 때 심리적 안정과 원활한 의사소통을 위해 신뢰관계에 있는 사람을 그 옆에 함께 있도록 해주는 제도입니다.</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 대상 및 지원 요건</h4>
                <p>임의적 신뢰관계인 
                    <br>연령, 심신의 상태 등을 고려하여, 현저하게 불안 또는
                    긴장을 느낄 우려가 있는 모든 범죄피해자</p>
                <p>필요적 신뢰관계인	
                    <br>① 13세 미만자, 심신미약자
                    <br>② 성폭력범죄 피해자
                    <br>③ 청소년 또는 심신장애 내지 심신미약인 성매매 피해자</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <img src="{% static 'img/target.png' %}" class="img-fluid" alt="지원 대상">
            </div>
            <div class="col-9">
                <h4>지원 내용</h4>
                <p>피해자의 수사기관 진술 또는 법정 증언 시 피해자의 배우자, 직계친족, 형제자매, 가족, 동거인, 고용주, 변호사, 그 밖에 피해자의 심리적 안정과 원활한 의사소통에 도움을 줄 수 있는 사람의 동석을 허용합니다.                </p>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <a href="{% static 'file/test.pdf' %}" download class="d-flex align-items-center">
            <span>양식</span>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
